*.log

.sass-cache
node_modules
node_modules/

docroot/wp-content/advanced-cache.php
docroot/wp-content/backup-db/
docroot/wp-content/backups/
docroot/wp-content/blogs.dir/
docroot/wp-content/cache/
docroot/wp-content/upgrade/
docroot/wp-content/uploads/
docroot/wp-content/wp-cache-config.php
docroot/wp-content/plugins/hello.php

docroot/license.txt
docroot/readme.html
docroot/sitemap.xml
docroot/sitemap.xml.gz

shopify/ceremony-coffee/dist/
shopify/ceremony-coffee/node_modules/
*/.DS_Store
.DS_Store
*.DS_Store
shopify/.DS_Store
