html,
body {
	position: absolute;
	margin: 0;
	padding: 0!important;
	top:0!important;
	left:0;
	overflow: hidden;
	width: 100vw;
	background: black;
	color: white;
	height: 100vh;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	@include breakpoint(tablet){
		//background: black;
	}
	&.front{
		height: auto;
		top:0;
		left:0;		
		bottom:0;
		right:0;	
		position: fixed;
	}
}
body.front .scroll{
	cursor: pointer;
	position: fixed!important;
	overflow: hidden;
	top:0;
	height: auto;
	left:0;		
	bottom:0;
	right:0;
	canvas{
		position: fixed;
		top:0;
		left:0;
	}
	.scroll-content{
		height: 100%;
	}
}
#scene{
	position: absolute;
	top:0;
	left:0;
	width: 100vw!important;
	height: 100vh!important;
	cursor: pointer;
}
.scrollbar-track-x{display: none!important;}
.hide-mobile{
	@include breakpoint(mobile){
		display:none;
	}
}
a{
	&:hover{
		text-decoration: none;
	}
}
#test{
	position: absolute;
	bottom:$pad;
	left:$pad;
	z-index: 100000;
}
nav.global{
	display:flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
	border-bottom:1px solid white;
	>div{
		flex-basis: 33%;
		padding:$pad/1.5;
		color:white;
		//text-transform:uppercase;
		text-align:center;
		align-self: stretch;
		line-height:1;
		a{
			color: white;
			&.disabled{
				text-decoration:none;
				pointer-events:none;
			}
		}
		&:nth-of-type(2){
			flex-grow:1;
			white-space: nowrap;
			border-left: 1px solid white;
			border-right: 1px solid white;
		}
	}
}
#messages{
	/*position: absolute;
	
	z-index: 1000;
	color: white;
	text-align: center;
	top: calc( #{$pad}*1.33 + 1px  + 1rem);
	height: calc(100% - #{$pad}*1.33 - 1px  - 1rem);
	//height:100%;
	width: 100%;
	//background: white;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	align-content:flex-end;
	justify-content: center;
	//mix-blend-mode:difference;
	a{
		color: black;
	}
	.message{
		padding:0 $pad/1.5 $pad/1.5;
		flex-basis: 100%;
		align-self: flex-end;
		align-content: space-evenly;
		span{
			text-align: left;
		writing-mode: vertical-rl;
		}

	}*/
/*	&.first{
		top:calc(#{$pad}*1.33 + 1rem + 1px + #{$pad}*2);
		left:$pad*4;
	}
	&.second{
		top:calc(#{$pad}*1.33 + 1rem + 1px + #{$pad}*4);
		right:$pad*3;
	}
	&.third{
		bottom:calc(#{$pad}*1.33 + 1rem + 1px + #{$pad}*2);
		left:$pad*4;
	}
	&.fourth{
		bottom:calc(#{$pad}*1.33 + 1rem + 1px + #{$pad}*4);
		right:$pad*3;
	}	*/
	/*&:after{
		content:'';
		position: absolute;
		left:50%;
		width: 1px;
		//top: calc( #{$pad}*1.33 + 1px  + 1rem);
		//height: calc(100% - #{$pad}*1.33 - 1px  - 1rem);
		top:0;
		height: 100%;
		background: white;
		//transform:translateX(-50%);
	}
	&:before{
		content:'';
		position: absolute;
		left:0;
		width: 100%;
		top: calc(50% - #{$pad}/1.5 - 1px  - .5rem);
		height: 1px;
		
		background: white;
		//transform:translateX(-50%);
	}*/
}
#cookies{
	
}
body.fallback{
	/*.sticker{
		border-radius: 0;
		width: 100%;
		right: auto;
		height: auto;
		left:0;
		transform: rotate(45deg) translateX(50%) translateY(50%);
		transform-origin: 100% 50%;
		.marquee h1{
			padding-top: 2px;
		}
		.primary{
			display: none;
		}
	}*/


	.sticker{
		border-radius: 0;
		width: 100%;
		right: auto;
		height: auto;
		left:0;
		transform: rotate(45deg) translateX(50%) translateY(50%);
		transform-origin: 100% 50%;
		.marquee h1{
			padding-top: 2px;
		}		
	}
	.instruction.primary{
		display: none;
	}
	.instruction.fallback{
		display: block;
	}	
	.output{
		display: block;
		position: fixed;
		top:0;
		left:0;
		bottom:0;
		right:0;
		&#loop,
		&#coords,
		&#data{		
			display: none;
		}
		&#time{
			position: absolute;
			top:50%;
			left:50%;
			font-family: $terminal, monospace;
			font-size: 300%;
			color: white;
			text-align: center;
			transform: translateX(-50%) translateY(-50%);
			
		}
	}
}
.announcement{
	width: 100%;
	right: auto;
	position: fixed;
	z-index: 100;
	height: auto;
	left:0;
	top:0;
	background: white;
	overflow: hidden;
	transition: opacity 0s 1s;
	visibility: hidden;
	backface-visibility: hidden;	
	animation: colorchange2 30s infinite alternate;
	&.hidden{
		visibility: hidden;
	}
	.marquee{
		opacity: 0;
		position: relative;
		overflow: hidden;
		text-transform: uppercase;
		color: black;
		font-size: 12px;
		line-height: 1;
		&.is-init{
			opacity: 1;
		}		
	}
	.marquee h1{
		backface-visibility: hidden;
		display: inline-block;
		padding: 2px 5px 0;
		white-space: nowrap;
		a{
			color: white;
			text-decoration: none;
		}
	}		
	@include breakpoint(mobile-custom){
		z-index: 100000;
		top:0;
		//top:6px;
		//transform: rotate(-7deg) translateX(-2%) translateY(106%);
		//transform-origin: 0% 50%;
		
	}
}
.output{
	display:none;
	pointer-events: none;
	position: absolute;
	bottom:$pad/1.5;
	left:$pad/1.5;
	z-index: 1000;
	color: white;
	font-size: 12px;
	&#time{
		bottom: auto;
		top:$pad/1.5;
	}
	&#data{

	}
	&#loop{
		left: auto;
		right:$pad/1.5;
		text-align: right;
	}
	&#coords{
		text-align: right;
		bottom: auto;
		left: auto;
		top:$pad/1.5;
		right:$pad/1.5;
	}	
	@include breakpoint(mobile-custom){
		&#loop{
			display: none;
		}
		&#coords{
			display: none;
		}
		&#data{
		text-align: right;
		bottom: auto;
		left: auto;
		top:$pad/1.5;
		right:$pad/1.5;
		white-space: nowrap;
		br{
			display: none;
		}
			
		}
	}
}
@keyframes colorchange{
  0%   {background: #ffd064;}
  25%  {background: #29a9fd;}
  50%  {background: #fb248b;}
  75%  {background: #01d765;}
  100% {background: #e27940;}
}
@keyframes colorchange2{
  0%   {background: #fb248b;}
  25%  {background: #01d765;}
  50%  {background: #ffd064;}
  75%  {background: #e27940;}
  100% {background: #29a9fd;}
}
.sticker{
	position: fixed;
	top:0px;
	right:0px;
	//left:calc(100vw - 230px);
	height: 100px;
	width: 100px;
	background: #f7ec13;
	visibility: hidden;
	//height: 200px;
	z-index: 1000;
	pointer-events: none;
	border-radius: 100px;
	overflow: hidden;
	transform:translateY(25%) translateX(-25%);
	transition: opacity 0s 1s;
	animation: colorchange 50s infinite alternate;
	img{
		width: 100%;
		height: auto;
		//mix-blend-mode:difference;
		display: none;
	}
	.marquee{
		opacity: 0;
		position: relative;
		overflow: hidden;
		text-transform: uppercase;
		color: black;
		font-size: 12px;
		//font-weight: white;
			line-height: 1;
		&.is-init{
			opacity: 1;
		}
		h1{
			backface-visibility: hidden;
			display: inline-block;
			padding: 4px 5px 0;
			white-space: nowrap;
		}
	}
	@include breakpoint(mobile-custom){
		&.rotated{
			border-radius: 0;
			width: 100%;
			right: auto;
			height: auto;
			left:0;
			transform: rotate(45deg) translateX(50%) translateY(50%);
			transform-origin: 100% 50%;
			.marquee h1{
				padding-top: 2px;
			}
		}
	}
	
}
.instruction{
	width: 100px;
	background: black;
	color: white;
	position: absolute;
	top:calc(100% - 100px);
	left:calc(50vw - 75px);
	transform:translateX(25%);
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	transition: opacity 0s 1s;
	visibility: hidden;
	backface-visibility: hidden;
	
	.marquee{
		opacity: 0;
		position: relative;
		overflow: hidden;
		text-transform: uppercase;
		color: white;
		font-size: 12px;
		line-height: 1;
		&.is-init{
			opacity: 1;
		}
		h1{
			backface-visibility: hidden;
			display: inline-block;
			padding: 0 5px 0;
			white-space: nowrap;
		}
	}	
	@include breakpoint(mobile-custom){
	top:50%;
	left:50%;
	width: 150px;
	transform:translateX(-50%) translateY(90px);			
	}

}
.started{
	.instruction,
	.sticker,
	.announcement:not(.hidden){
		visibility: visible;
		.marquee{
			visibility: visible;
		}
	}
}
.idle:not(.fallback){
	nav.global{
		opacity: 0;
	}
	#messages{
		display: none;
	}
	.output{
		display: block;
	}
	.sticker, .instruction, .announcement:not(.hidden){
		opacity: 0;	
		transition: opacity 0s 0s;
	}
}
